sim 900A
RX TX PIN
GND POWER PIN
ANTENNA IS CONNECTED
GSM WITH ARDUINO
JUMPER WIRE IS USED TO CONNECT GSM ARDUINO
GSM TX CONNECTED WITH ARDUINO 2ND PIN
GSM RX CONNECTED WITH ARDUINO 3RD PIN
GSM GND ARDUINO WITH ARDUINO GND
12V 2A TO GSM MODULE
USB TO PROGRAM ARDUINO
GSM ADAPTER TO SOCKET
ARDUINO USB TO LAPTOP
